@model Skill

@{
    ViewData["Title"] = "Beceriler - Yeni";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Beceriler - Yeni</div>
					</div>
					<div class="card-body">

                        <form asp-action="Create">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Value" class="control-label"></label>
                                <input asp-for="Value" class="form-control" />
                                <span asp-validation-for="Value" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Ekle" class="btn btn-primary" />
                            </div>
                        </form>
						<button class="btn btn-secondary mt-3" onclick="window.history.back()">Geri</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>