<section id="works">
    <br /> <br />
    <div class="row about-content about-content--timeline">
        <div class="col-full text-center">
            <h3>Deneyimlerim</h3>
        </div>
        <!-- Sol Taraf -->
        <div class="col-six tab-full left">
            <div class="timeline">
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">Temmuz 2024 - Ağustos 2024</p>
                        <h3>C-Tech</h3>
                        <h5>Yazılım Geliştirici - Stajyer</h5>
                    </div>
                    <div class="timeline__desc">
                        <h6>RabbitMQ ile Client-Server Uygulaması:</h6>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Flask kullanarak çoklu iş parçacığı desteği sunan bir RabbitMQ client-server uygulaması geliştirdim.
                            Proje, JSON formatında veri kullanarak CRUD işlemleri gerçekleştirdi ve veritabanı olmadan yüksek performans sağladı.
                            HTML ve CSS ile tasarladığım kullanıcı arayüzü aracılığıyla veri işlemlerini gerçekleştirdim ve kullanıcı arayüzü ile sunucu
                            arasındaki veri iletişimini optimize ettim.
                        </p>
                        <h6>Python-Flask REST API Geliştirme:</h6>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Python ve Flask kullanarak Swagger aracılığıyla platform bağımsız REST API'ler geliştirdim.
                            ORM, PostgreSQL ve MongoDB ile veri yönetimini sağladım, SQLAlchemy ile veritabanı işlemlerini gerçekleştirdim ve JWT tabanlı
                            kimlik doğrulama ile API güvenliğini artırdım. Ayrıca, API ile etkileşimde bulunan basit bir client uygulaması tasarlayarak kullanıcıların
                            veri alışverişini gerçekleştirmesini ve API işlevlerini test etmesini sağladım.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <!-- Sağ Taraf -->
        <div class="col-six tab-full right">
            <div class="timeline">
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">2024</p>
                        <h3>Kişisel Projem</h3>
                        <h5>El Hareketi Tanıma ve Kontrol Uygulaması</h5>
                    </div>
                    <div class="timeline__desc">
                        <h6>OpenCV ve Mediapipe ile Görüntü İşleme Uygulaması:</h6>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;Bu projede, OpenCV ve Mediapipe kullanarak bir el hareketi tanıma uygulaması geliştirdim.
                            Uygulama, web kamerası aracılığıyla elleri gerçek zamanlı olarak algılar ve başparmak yukarı hareketi (thumbs up) veya elin hareket yönünü tespit eder.
                            Bu sayede, ekranda "THUMBS UP", "RIGHT", "LEFT", "UP", "DOWN" gibi metinlerle kullanıcıya geri bildirim sağlar.
                            Proje, bilgisayar etkileşiminde doğal yollarla komutlar vermek için başlangıç niteliğinde bir çözüm sunar.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>