<header class="s-header">
    <div class="header-logo">
        <a class="site-logo smoothscroll" data-scroll="home" href="javascript:void(0);">
            <img src="~/hola-master/images/logo.png" alt="Homepage">
        </a>
    </div>
    <nav class="header-nav-wrap">
        <ul class="header-nav">
            <li class="current"><a class="smoothscroll" data-scroll="home" href="javascript:void(0);" title="home">Ana Sayfa</a></li>
            <li><a class="smoothscroll" data-scroll="about" href="javascript:void(0);" title="about">Hakkımda</a></li>
            <li><a class="smoothscroll" data-scroll="works" href="javascript:void(0);" title="works">Deneyimler</a></li>
            <li><a class="smoothscroll" data-scroll="contact" href="javascript:void(0);" title="contact">İletişim</a></li>
        </ul>
    </nav>
    <a class="header-menu-toggle" href="#0"><span>Menu</span></a>

</header>