@model ToDoList

@{
    ViewData["Title"] = "Yapılacaklar - Güncelle";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Yapılacaklar - Güncelle</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <!-- Gizli alan, güncellenen öğenin Id'sini saklar -->
                            <input type="hidden" asp-for="Id" />

                            <!-- Başlık ve İçerik -->
                            <label>Başlık & İçerik</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />

                            <!-- Tarih -->
                            <label>Tarih</label>
                            <input type="date" asp-for="Date" class="form-control" />
                            <br />

                            <!-- Açıklama -->
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />

                            <!-- Güncelleme butonu -->
                            <button class="btn btn-success">Kaydet</button>
                        </form>

                        <!-- Geri Butonu -->
                        <button class="btn btn-secondary mt-3" onclick="window.history.back()">Geri</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
