<div class="main-header">
    <div class="logo-header" style="text-align:center">
        <a asp-controller="Admin" asp-action="Index" class="logo">
            Admin Paneli
        </a>
        <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
    </div>
    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid">
            <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="la la-user"></i>
                    <span>Admin</span>
                </a>
                <li class="dropdown-menu dropdown-user">
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Settings", "Admin")"><i class="ti-settings"></i>Setting</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="@Url.Action("Logout", "Admin")"><i class="fa fa-power-off"></i>Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

